/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Crazy Taxi*/

body {
  padding: 10em 4em 1em 4em;
}

/*q*/

.queue {
  position: absolute;
  left: 0;
  top: -4.5em;
  font-size: 2em;
  text-align: center;
}

.queue-second {
  left: 3%;
  background-color:
}

.queue-third {
  left: 6%;
}

.queue-count {
  padding: 0.25em;
  position: relative;
  background-color: #999;
  color: #fff;
  margin-bottom: 0.4em;
}

.queue-count:after {
  content: "";
  height: 0;
  border-top: solid 0.25em #999;
  border-right: solid 0.25em #fff;
  border-bottom: solid 0.25em #fff;
  border-left: solid 0.25em #fff;
  position: absolute;
  bottom: -0.5em;
  left: 0.25em;
}

.queue-second .queue-count {
  background-color: rgb(72,	182, 131);
}

.queue-second .queue-count:after {
  border-top-color: rgb(72,	182, 131);;
}

.queue-third .queue-count {
  background-color: rgb(173, 123, 76);
}

.queue-third .queue-count:after {
  border-top-color: rgb(173, 123, 76);
}

.queue-first:after {
  font-size: 0.5em;
  position: absolute;
  left: 0.3em;
  bottom: -1.5em;
  content: "R5";
}

.queue-second:after {
  font-size: 0.5em;
  position: absolute;
  left: 0;
  bottom: -1.5em;
  content: "R10";
  color: rgb(72,	182, 131);
}

.queue-third:after {
  font-size: 0.5em;
  position: absolute;
  left: 0;
  bottom: -1.5em;
  content: "R20";
  color: rgb(173, 123, 76);
}

/*road*/

.road {
  background-color: #46454b;
  height: 4em;
  position: relative;
  margin-bottom: 1em;
}

.road:before {
  content: "";
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  border-top: dashed 3px #fff;
}

/*robot*/

.robot {
  content: "";
  width: 1em;
  height: 3em;
  background-color: #000;
  top: -3em;
  position: absolute;
  float: left;
}

.robot:before {
  content: "";
  position: absolute;
  top: -6em;
  background-color: #46454b;
  width: 2em;
  height: 6em;
  left: -.5em;
  border-radius: 0.25em;
}

.robot:after {
  content: "";
  position: absolute;
  border-right: dashed 2px #fff;
  height: 2em;
  top: 3em;
  left: -0.2em;
}

.stop {
  color: #f43530;
}

.slowdown {
  color: #f7772c;
}

.go {
  color: #3dbd5d;
}

.lights {
  font-size: 5em;
  position: absolute;
  top: -1.1em;
  left: -0.09em;
}

.lights-stop .slowdown,
.lights-stop .go {
  opacity: 0.4;
}

.lights-slowdown .stop,
.lights-slowdown .go {
  opacity: 0.4;
}

.lights-go .slowdown,
.lights-go .stop {
  opacity: 0.4;
}

/*positioning*/

/*fours*/

.one-of-four {
  left: 25%;
}

.two-of-four {
  left: 50%;
}

.three-of-four {
  left: 75%;
}

.four-of-four {
  right: 0;
}

/*sixes*/

.one-of-six {
  left: 16.6666667%;
}

.two-of-six {
  left: 33.3333333%;
}

.three-of-six {
  left: 50%;
}

.four-of-six {
  left: 66.6666667%;
}

.five-of-six {
  left: 83.3333333%;
}

.six-of-six {
  right: 0;
}

/*nines*/

.one-of-nine {
  left: 11.1111111%;
}

.two-of-nine {
  left: 22.2222222%;
}

.three-of-nine {
  left: 33.3333333%;
}

.four-of-nine {
  left: 44.4444444%;
}

.five-of-nine {
  left: 55.5555556%;
}

.six-of-nine {
  left: 66.6666667%;
}

.seven-of-nine { /* resistance is futile */
  left: 77.7777778%;
}

.eight-of-nine {
  left: 88.8888889%;
}

.nine-of-nine {
  right: 0;
}

/*taxi*/

.taxi {
  width: 7%;
  height: 3em;
  background-color: #fff;
  border: solid 2px #35342f;
  border-radius: 0.25em 1em 0.25em 0.25em;
  position: absolute;
  top: -2em;
  /*left: 0.5em;*/
}

.taxi:before {
  content: "";
  background-color: #35342f;
  border-radius: 0.25em 1em 0.25em 0.25em;
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  left: 0.1em;
  bottom: 1.5em;
}

.taxi:after {
  content: "";
  background-color: #ffeb00;
  left: 0;
  right: 0;
  height: 5px;
  top: 2em;
  position: absolute;
}

.wheels {
  position: relative;
}

.wheels:before {
  content: "•";
  position: absolute;
  left: 0;
  bottom: -0.65em;
  color: black;
  font-size: 6em;
}

.wheels:after {
  content: "•";
  position: absolute;
  right: 0;
  bottom: -0.65em;
  color: black;
  font-size: 6em;
}

.passengers {
  position: absolute;
  top: 0;
  left: 40%;
  color: #fff;
  font-size: 1.5em;
}

/*taxi slots*/

.at-rank {
  left: 1%;
  z-index: 1;
}

.at-rank:nth-of-type(1) {
  top: -2em;
  z-index: 5;
}

.at-rank:nth-of-type(2) {
  top: -4em;
  z-index: 4;
}

.at-rank:nth-of-type(3) {
  top: -6em;
  z-index: 3;
}

.at-rank:nth-of-type(4) {
  top: -8em;
  z-index: 2;
}

/*fours*/

.slot-one-of-four {
  left: 15%;
}

.slot-two-of-four {
  left: 40%;
}

.slot-three-of-four {
  left: 65%;
}

.slot-four-of-four {
  right: 5%;
}

/*sixes*/

.slot-one-of-six {
  left: 8%;
}

.slot-two-of-six {
  left: 24%;
}

.slot-three-of-six {
  left: 41%;
}

.slot-four-of-six {
  left: 58%;
}

.slot-five-of-six {
  left: 75%;
}

.slot-six-of-six {
  right: 2%;
}

/*nines*/

.slot-one-of-nine {
  left: 3%;
}

.slot-two-of-nine {
  left: 14%;
}

.slot-three-of-nine {
  left: 25%;
}

.slot-four-of-nine {
  left: 36%;
}

.slot-five-of-nine {
  left: 47%;
}

.slot-six-of-nine {
  left: 58%;
}

.slot-seven-of-nine { /* resistance is futile */
  left: 69%;
}

.slot-eight-of-nine {
  left: 81%;
}

.slot-nine-of-nine {
  right: 2%;
}

/*signs*/

.signs {
  position: relative;
}

.sign {
  border: solid 2px #000;
  padding: 0.5em;
  position: absolute;;
  display: inline-block;
  text-align: center;
}

.departure {
  left: 0;
  width: 15%;
}

.destination {
  right: 0;
  width: 15%;
}

.message {
  position: absolute;;
  left: 25%;
  right: 25%;
  border: solid 2px rgb(72,	182, 131);
  border-radius: 0.25em;
  padding: 0 1em;
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(72,	182, 131);
  color: #fff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
